* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: blue;
}

section {
    border-radius: 3px;
    border: 1px solid rgb(177, 177, 177);
}

.search {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.search div {
    display: flex;
    flex-direction: row;
}